#include "resource.h"
#include "windows.h"
//icons
IDI_NOUGHT ICON "nought.ico"
IDI_CROSS ICON "cross.ico"

//menu
IDC_TICTACTOE MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "New Game", ID_FILE_NEWGAME
        MENUITEM SEPARATOR
        MENUITEM "Save", ID_FILE_SAVE
        MENUITEM "Save", ID_FILE_RESTORE
        MENUITEM SEPARATOR
        MENUITEM "&Exit", WM_DESTROY
    END
END
